body {
    background-color:lightgray;
}
  
h1 {
    font-size:30px;
}

p {
    font-family:courier;
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: darkblue;
}

a:visited {
    color: gray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
  
#bar {
    float: left;
}
  
#bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
#bar a:hover {
    background-color: #111111;
}
  